.lightMode {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url("/imgs/chessBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.darkMode {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/imgs/chessBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
