@import "tailwindcss";

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  font-size: 62.5%;
}

@media (min-width: 2200px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 37.5%;
  }
}

body.light {
  --scrollbar-track: white;
  --scrollbar-thumb: black;
}

body.dark {
  --scrollbar-track: black;
  --scrollbar-thumb: rgb(254, 249, 195);
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

.image-limit {
  max-width: 80rem;
  max-height: 80rem;
  border-radius: 1rem;
}

@media (max-width: 1200px) {
  .image-limit {
    max-width: 50rem;
    max-height: 50rem;
  }
}

@media (max-width: 600px) {
  .image-limit {
    max-width: 30rem;
    max-height: 30rem;
  }
}

@media (max-width: 1200px) {
  .youtube-limit {
    max-width: 60rem;
    max-height: 40rem;
  }
}

@media (max-width: 900px) {
  .youtube-limit {
    max-width: 30rem;
    max-height: 20rem;
  }
}

.link-class {
  color: purple;
  text-decoration: underline;
  font-weight: 800;
}

.fullscreen-editor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  padding: 5rem 2rem;
  box-sizing: border-box;
  overflow: auto;
  margin: 0;
}

.fullscreen-light {
  background-color: rgba(214, 211, 209, 0.98);
}

.fullscreen-dark {
  background-color: rgba(0, 0, 0, 0.98);
}

.resizable-editor {
  width: 100%;
  height: 40rem;
  padding: 2rem;
}

.fullscreen-editor .resizable-editor {
  height: 100rem;
}

.ProseMirror {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 2rem;
}

.resizable-editor .ProseMirror:focus {
  outline: none;
}

.heading-level-1 {
  font-family: "Roboto Slab", serif;
  font-size: 4rem;
}

.heading-level-2 {
  font-size: 3rem;
}

.heading-level-3 {
  font-size: 2rem;
}

@media (max-width: 600px) {
  .heading-level-1 {
    font-size: 3rem;
  }

  .heading-level-2 {
    font-size: 2.3rem;
  }

  .heading-level-3 {
    font-size: 1.8rem;
  }
}

.bullet-list {
  padding-left: 4rem;
  list-style: circle;
}

.ordered-list {
  padding-left: 4rem;
  list-style-type: decimal;
}

.chess-game {
  max-width: 60rem;
  margin: 2rem auto;
}

.chess-game-node {
  max-width: 60rem;
  margin: 2rem auto;
}
